// $primary: #3E61DB;
// $secondary: #1A369A;
// $active: #7436EB;
// $danger: #FC5231;
// $success: #5CE67B;
// $light: #F4F4F4;
// $darker: #444444;
// $white: #fff;
// $black: #000;
// $active: #7436EB;
// $darker: #444444;

$primary: #003865;
$secondary: #006BA6;
$active: #52357e;
$danger: #c4183c;
$success: #17c671;
$light: #F5F6F8;
$darker: #3D5170;
$white: #fff;
$black: #000;