@charset "UTF-8";
/* Loader */

.loader {
	width:80px;
	height:80px;
	position: absolute;
  margin: auto;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 0;
	background:transparent url('../../assets/Loader.png') no-repeat top left;
	background-size:cover;
	
  -webkit-animation: loader 1s linear infinite;
  -moz-animation: loader 1s linear infinite;
  -ms-animation: loader 1s linear infinite;
  -o-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
