.header .header-navbar{
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  margin-bottom: 0px;
  background-image: radial-gradient(circle at 100% 50%, #29cb96, #5f2987);

  .navbar-brand, .nav-link{
    &:hover{
      color: lightgrey;
    }
  }

  &-text{
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    font-weight: bold;

    &-status, &-account{
      font-size: 16px;
      color: lightgrey;
      font-weight: 300;
    }
  }
}