.primary{color: $primary;}
.secondary{color: $secondary;}
.active{color: $active;}
.danger{color: $danger;}
.success{color: $success;}
.light{color: $light;}
.darker{color: $darker;}
.white{color: $white;}
.black{color: $black;}

.bg-primary{background-color: $primary;}
.bg-secondary{background-color: $secondary;}
.bg-active{background-color: $active;}
.bg-danger{background-color: $danger;}
.bg-success{background-color: $success;}
.bg-light{background-color: $light;}
.bg-darker{background-color: $darker;}
.bg-white{background-color: $white;}
.bg-black{background-color: $black;}